.NewButton {
    border-radius: 25px;
    float: right;

    height: 60px;
    width: 60px;
    margin: 15px;

    background-color: rgb(255, 255, 255);
}

.NewButton :hover {
    background-color: rgb(171, 171, 171);
}

h1 {
    margin: auto;
    width: 10px;
}

