.Node {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 10;
}

.NodeInnerWrapper {
    height: 100%;
    display: inline;
    position:absolute;
    user-select:none;
}

#Content.NodeInnerWrapper  {
    width: 100%;
    margin: auto;
    background-color: orange;
}

#CenterContent {
    text-align: center;
    display: inline-block;

    h2 {
        margin-bottom: 0px;
    }

    p {
        margin-bottom: -20px;
        margin-top: 0px;
    }
}

#left.NodeInnerWrapper  {
    left: -8px;
    z-index: 2;
}

#right.NodeInnerWrapper {
    right: -8px;
    z-index: 2;
}

#NodeCover {
    position: absolute;
    width: 75%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(108, 108, 108);
}

.AddButton {
    border-radius: 25px;
    display: block;

    width: 25px;
    height: 50px;

    opacity: .25;
    background-color: rgb(101, 85, 241);
}

.AddButton:hover {
    opacity: .75;
}