
.topBar { //Defigns the box which opens the menue bar
  height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #110135;
}
.menuBar { //defigns the icon 
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
  width: 100%;
}

.navIcon { 
  width: 55px;
  display: flex;
  margin-right: 4rem;
  margin-left: 1.5rem;  
  cursor: pointer;
}

.sideMenu { //establishes the actual menue which will be retracted
  left: 0;
  height: 100%;
  width: 420px;
  position: absolute;
  z-index: 100;
  background: rgb(249, 249, 249);
  transition: all 0.35s ease-out;

  .content {
    padding: 20px;

    h1 {
        margin-left: 0px;
    }

    .nodeName {
        font-size: 30px;
        text-align: center;
    }

    .ChangesSubmit {
        background-color: #4CAF50; /* Green */
        border: 1px solid green;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin-left: 85px;
    }

    .ChangesSubmit:hover {
        background-color: #338535; /* Green */
    }

    .ChartWrapper {
        margin-left: 35px;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #04AA6D;
        cursor: pointer;
      }
  }
}


/*
.sidebar {
    flex: 3;
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    min-height: 100vh;
    border-right: 0.5px solid rgb(221, 221, 221);


    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; //Allows for the centering of content which use flex properities
    
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: rgb(46, 178, 207);
        }
    }

    .middle {
        margin: auto;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: rgb(178, 178, 178);
                margin-bottom: 0;
            }

            li {
                display: flex;
                align-items: center;
                padding: 4px;

                span {
                    font-weight:600;
                }

            }
            li:hover {
                background-color: rgb(217, 255, 242);
            }
        }
    }

    hr {
        height: 0;
        border: 0.5 solid rgb(128, 255, 65);
    }
}

*/