.Tree {
    flex:1;
    //background-color: rgb(235, 235, 235);

    .TreeContainer {
        background-color: aquamarine;
        flex:6;
    }
/*
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
*/
}
